.text-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.items-center-important {
  align-items: center !important;
  justify-content: center !important;
}

.cagfont {
  font-family: Cagliostro, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Cagliostro';
  src: url(/fonts/Cagliostro-Regular.ttf);
}

.gwfont {
  font-family: GwTwo, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'GwTwo';
  src: url(/fonts/GWTwoFont.ttf);
}

@font-face {
  font-family: 'BadScript';
  src: url(/fonts/BadScript-Regular.ttf);
}

@font-face {
  font-family: 'Dosis';
  src: url(/fonts/Dosis/Dosis-Regular.ttf);
}

.font-badscript {
  font-family: BadScript, Arial, Helvetica, sans-serif;
  line-height: 1.1 !important;
}

.font-dosis {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}
